html { height: 100%; }

body {
  padding: 0;
  margin: 0;
  height:100%;
  background-color: #E1C5B8;
}

#banniere {
  width:100%;
  height: 15%;
  background-image: url('fond.png');
  background-size: cover;
}

#container {
  box-sizing: border-box;
  width: 100%;
  height: 82%;
  margin: 0 auto;
  padding: 15px;
}

#menu-container {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
}

ul {  padding-inline-start: 0px }

#list {
  padding:0;
  margin:0;
  list-style:none;
  text-align: center;
  width: 100%;
}

#list ul{
  padding:0;
  margin:0;
  list-style:none;
  text-align: center;
}

.list-li {
  background-color:#729EBF;
  background-image:-webkit-linear-gradient(top, #FFFFFF 60%, #333A40 100%);
  background-image: linear-gradient(to bottom, #FFFFFF 60%, #333A40 100%);
  border-radius: 6px;
  margin-bottom:2px;
  box-shadow: 3px 3px 3px #999;
  width: 90%;
  margin: 8px auto;
  line-height: 30px;
  font-size: 1.1em;
  transition: all 2s ease;
}

#list ul {
width: 75%;
margin: 0 auto;
}

.displayDefault {  display: none; }

.displayLI {
  overflow: hidden;
  background-image:-webkit-linear-gradient(top, #FFFFFF 80%, #333A40 100%);
  background-image: linear-gradient(to bottom, #FFFFFF 80%, #333A40 100%);
  box-shadow: 3px 3px 3px #999;
  border-radius: 6px;
  display: block;
  margin: 5px;
  line-height: 20px;
}

.list-li:hover  {
   background-image:-webkit-linear-gradient(top, #FFFFFF 60%, #8B0000 100%);
   background-image: linear-gradient(to bottom, #FFFFFF 60%, #8B0000 100%);
   cursor:pointer;
}
.sub-ul li:hover {
  background-image:-webkit-linear-gradient(top, #FFFFFF 80%, #8B0000 100%);
  background-image: linear-gradient(to bottom, #FFFFFF 80%, #8B0000 100%);
  cursor:pointer;
}

#chronique-container {
  width: 90%;
  margin: 0 auto;
  text-align: justify;
  padding: 20px;
  box-sizing: border-box;
  background-image: url('containerFond.png');
  background-size: cover;
  border: 2px solid #282828;
  border-radius: 6px;
}

span {
  float: right;
  font-style: italic;
}

.imgPNJ {
 height: 150px;
 width: 150px; 
 }

img {
  max-height : 100%;
width : auto;
}

carac { 
  margin-left: 25px;
 }


.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 520px;
  background-color: #555;
  color: #fff;
  text-align: justify;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: 50%;
  left: 25%;
  margin-left: -60px;
  opacity: 0;
  transition: opacity 0.3s;
  padding: 5px;
}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 10%;
  margin-left: -5px;
  border-width: 15px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

.toltip {
  position: relative;
  display: inline-block;
}

.toltip .toltiptext {
  visibility: hidden;
  width: 520px;
  background-color: #555;
  color: #fff;
  text-align: justify;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: 50%;
  right: 25%;
  margin-left: -60px;
  opacity: 0;
  transition: opacity 0.3s;
  padding: 5px;
}

.toltip .toltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  right: 10%;
  margin-left: -5px;
  border-width: 15px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

.toltip:hover .toltiptext {
  visibility: visible;
  opacity: 1;
}

span b {
  color: red;
}

.classe{ 
width:100%
 }

 .classe td{
width: 33%;
border: solid 1px black;
padding: 5px;
margin-left: 5px;
margin-right: 5px;
vertical-align : top 
 }

 h1 {
  border-bottom: dashed 1px black;
 }